<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.gwon.haveameal.excelextract.mapper.ExcelMapper">

    <select id="selectCourseId" parameterType="Map" resultType="int">
        SELECT course_id
        FROM course
        WHERE timing = #{timing}
          AND course_type = #{course}
        ORDER BY course_id limit 1
    </select>

    <insert id="insertMeal" parameterType="team.gwon.haveameal.excelextract.entity.Meal" useGeneratedKeys="true"
            keyProperty="mealId" keyColumn="meal_id">
        INSERT INTO meal(date, course_id)
        VALUES (#{date}, #{courseId})
    </insert>

    <insert id="bulkInsertFood" parameterType="java.util.List">
        INSERT IGNORE INTO food(name) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.name})
        </foreach>
    </insert>

    <insert id="insertMenu" parameterType="team.gwon.haveameal.excelextract.entity.Menu">
        INSERT INTO meal_has_food
        VALUES (#{mealId}, (SELECT food_id FROM food WHERE name = #{foodName}), #{isMain})
    </insert>

</mapper>
