<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.gwon.haveameal.member.mapper.MemberMapper">
    <!-- 회원 등록 -->
    <insert id="insertMember" parameterType="team.gwon.haveameal.member.domain.MemberEntity">
        INSERT INTO member
        VALUES (#{memberId}, #{password}, #{name}, #{phone}, #{role}, #{withdrawal}, #{withdrawalAt})
    </insert>
    <!-- 회원 조회 -->
    <select id="getMemberById" resultType="team.gwon.haveameal.member.domain.MemberRegisterDto">
        SELECT member_id, name, password, phone
        FROM member
        WHERE member_id = #{memberId}
    </select>
</mapper>
