<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.gwon.haveameal.payment.mapper.PaymentMapper">
    <resultMap id="paymentMap" type="team.gwon.haveameal.payment.entity.Payment">
        <id property="paymentId" column="payment_id" jdbcType="BINARY"/>
        <result property="memberId" column="member_id"/>
        <result property="courseId" column="course_id"/>
        <result property="pgProvider" column="pg_provider"/>
        <result property="payMethod" column="pay_method"/>
        <result property="requestAt" column="request_at"/>
    </resultMap>
    <resultMap id="paymentDetailMap" type="team.gwon.haveameal.payment.entity.PaymentDetail">
        <id property="paymentDetailId" column="payment_detail_id" jdbcType="BINARY"/>
        <result property="refundReasonId" column="refund_reason_id"/>
        <result property="status" column="status"/>
        <result property="impUid" column="imp_uid"/>
        <result property="pgTid" column="pg_tid"/>
        <result property="paidAt" column="paid_at"/>
    </resultMap>
    <resultMap id="courseMap" type="team.gwon.haveameal.payment.entity.Course">
        <id property="courseId" column="course_id"/>
        <result property="timing" column="timing"/>
        <result property="courseType" column="course_type"/>
        <result property="courseDetailId" column="course_detail_id"/>
    </resultMap>
    <resultMap id="courseDetailMap" type="team.gwon.haveameal.payment.entity.CourseDetail">
        <id property="courseDetailId" column="course_detail_id"/>
        <result property="memberType" column="member_type"/>
        <result property="price" column="price"/>
    </resultMap>
    <resultMap id="paymentWithDetailMap" type="team.gwon.haveameal.payment.entity.PaymentWithDetail">
        <association property="payment" resultMap="paymentMap"/>
        <association property="paymentDetail" resultMap="paymentDetailMap"/>
    </resultMap>

    <resultMap id="courseWithDetailMap" type="team.gwon.haveameal.payment.entity.CourseWithDetail">
        <association property="course" resultMap="courseMap"/>
        <association property="courseDetail" resultMap="courseDetailMap"/>
    </resultMap>

    <resultMap id="ticketPriceResultMap" type="team.gwon.haveameal.payment.entity.TicketPrice">
        <id property="courseId" column="course_id"/>
        <result property="courseDetailId" column="course_detail_id"/>
        <result property="price" column="price"/>
    </resultMap>

    <resultMap id="paymentWithCourseIncludeDetailMap"
               type="team.gwon.haveameal.payment.entity.PaymentWithCourseIncludeDetail">
        <association property="payment" resultMap="paymentMap"/>
        <association property="paymentDetail" resultMap="paymentDetailMap"/>
        <association property="course" resultMap="courseMap"/>
        <association property="courseDetail" resultMap="courseDetailMap"/>
    </resultMap>
    <select id="getTicketPrice" parameterType="team.gwon.haveameal.payment.entity.CourseWithDetail"
            resultType="team.gwon.haveameal.payment.entity.TicketPrice">
        SELECT course_id, c.course_detail_id, price
        FROM course c
                 JOIN course_detail cd ON c.course_detail_id = cd.course_detail_id
        WHERE timing = #{course.timing}
          AND course_type = #{course.courseType}
          AND member_type = #{courseDetail.memberType};
    </select>
    <select id="verifyPayment">
        SELECT cd.price
        FROM payment_detail pd
                 JOIN payment p ON pd.payment_detail_id = p.payment_id
                 JOIN course c ON p.course_id = c.course_id
                 JOIN course_detail cd ON c.course_detail_id = cd.course_detail_id
        WHERE pd.imp_uid = #{impUid};
    </select>
    <select id="getPaymentWithDetail" resultMap="paymentWithDetailMap">
        SELECT *
        FROM payment_with_detail
        WHERE member_id = #{memberId};
    </select>
    <select id="getCourseWithDeatil" resultMap="courseWithDetailMap">
        SELECT *
        FROM course_with_detail
    </select>
    <select id="getPaymentTransaction" resultMap="paymentWithCourseIncludeDetailMap">
        SELECT *
        FROM payment_with_detail p_with_d,
             course_with_detail c_with_d
        WHERE p_with_d.course_id = c_with_d.course_id
          AND p_with_d.member_id = #{memberId};
    </select>

    <!--    insert-->
    <insert id="createPayment">
        INSERT INTO payment
        VALUES (#{paymentId}, #{memberId}, #{courseId}, #{pgProvider}, #{payMethod}, #{requestAt})
    </insert>

    <insert id="createPaymentDetail">
        INSERT INTO payment_detail
        VALUES (#{paymentDetailId}, #{refundReasonId}, #{status}, #{impUid}, #{pgTid}, #{paidAt})
    </insert>
</mapper>
