<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.gwon.haveameal.payment.mapper.PaymentMapper">

    <resultMap id="courseWithDetail" type="team.gwon.haveameal.payment.entity.CourseWithDetail">
        <association property="course" javaType="team.gwon.haveameal.payment.entity.Course">
            <id property="courseId" column="course_id"/>
            <result property="timing" column="timing"/>
            <result property="courseType" column="course_type"/>
            <result property="courseDetailId" column="course_detail_id"/>
        </association>
        <association property="course_detail" javaType="team.gwon.haveameal.payment.entity.CourseDetail">
            <id property="courseDetailId" column="course_detail_id"/>
            <result property="memberType" column="member_type"/>
            <result property="price" column="price"/>
        </association>
    </resultMap>

    <resultMap id="ticketPriceResultMap" type="team.gwon.haveameal.payment.entity.TicketPrice">
        <id property="courseId" column="course_id"/>
        <result property="courseDetailId" column="course_detail_id"/>
        <result property="price" column="price"/>
    </resultMap>

    <select id="getTicketPrice" parameterType="team.gwon.haveameal.payment.entity.CourseWithDetail"
            resultType="team.gwon.haveameal.payment.entity.TicketPrice">
        SELECT course_id, c.course_detail_id, price
        FROM course c
                 JOIN course_detail cd ON c.course_detail_id = cd.course_detail_id
        WHERE timing = #{course.timing}
          AND course_type = #{course.courseType}
          AND member_type = #{courseDetail.memberType};
    </select>
    <select id="verifyPayment">
        SELECT cd.price
        FROM payment_detail pd
                 JOIN payment p ON pd.payment_detail_id = p.payment_id
                 JOIN course c ON p.course_id = c.course_id
                 JOIN course_detail cd ON c.course_detail_id = cd.course_detail_id
        WHERE pd.imp_uid = #{impUid};
    </select>

    <insert id="createPayment">
        INSERT INTO payment
        VALUES (#{paymentId}, #{memberId}, #{courseId}, #{pgProvider}, #{payMethod}, #{requestAt})
    </insert>

    <insert id="createPaymentDetail">
        INSERT INTO payment_detail
        VALUES (#{paymentDetailId}, #{refundReasonId}, #{status}, #{impUid}, #{pgTid}, #{paidAt})
    </insert>
</mapper>
